.sbibg
{
    background-image:url("D:\PleaseGod\please\public\images\1.webp");
    background-size: cover;
    background-attachment: fixed;
    opacity:100px;
    padding:1px;
    height:800px;
}
.barr
{
    background-image: url("");
    background-color:black;
    opacity:80%;
    height:600px;
    margin-left:350px;;
    width:700px;
    margin-top:100px;
}
.icic{
    height:100px;
    margin-left:300px;
    margin-top:10px;
    opacity:80%;
}
.sbb1
{
    margin-top:60px;
    margin-left:200px;
    height:30px;
    width:300px;
    text-align: center;
}
.sbb2
{
    margin-top:30px;
    margin-left:200px;
    height:30px;
    width:300px;
    text-align: center;
}
.sbb3
{
    margin-top:30px;
    margin-left:200px;
    height:30px;
    width:300px;
    text-align: center;

}
.paysb1
{
    margin-top:30px;
    margin-left:200px;
    height:30px;
    width:300px;
    text-align: center;
}